#header {
    height: 50px;
    background: #3F4D9D;
    /*color: #feffff;*/
}

#header .container > div:first-child {
    padding-left: 180px;
}

#banner {
    height: 25px;
}

#banner .title {
    font-weight: bold;
    padding-left: 170px;
    padding-top: 4px;
	font-size: 12px;
}

#banner .utilities {
    padding-top: 1px;
}

#banner .container {
    /*padding-left: 160px;*/
}

#header .navbar-form {
    padding: 0 0;
	font-size: 12px;
}
#banner .pull-right {
font-size:12px;
}
body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
margin-bottom: 50px;
}

h1{
margin-top:0px;
font-family: Arial;
color:  #d12121;
font-size: 36px;

}
p {
margin: 0 0 10px;

}
.intro {
font-family: Arial;
color:  #000;
font-size: 14px;
padding-top:0px;
}

.navbar-form .form-group {
    width: auto;
    display: block;
}

.navbar-form .form-control {
    width: 100%;
}

.logo {
    background: #fff;
    /*display: block;*/
    position: absolute;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
    text-align: center;
    z-index: 999;
}

.logo a {
    padding-top: 10px;
    width: 160px;
    height: 89px;
    display: block;
}

.navbar .brand {
    background: #fff;
}

.navbar-nav {
    text-transform: uppercase;
}

.navbar-default {
    background: none;
    border: none;
}

#header ul.nav {
    padding-top: 5px;
}

#header ul.nav  a {
    color: #fff;
}

#header .nav-pills {
    text-transform: uppercase;
}

#header .nav>li>a:hover,
#header .nav>li>a:focus {
    color: #D12121;
    background-color: #fff;
}

#header .nav-pills>li.active>a,
#header .nav-pills>li.active>a:hover,
#header .nav-pills>li.active>a:focus,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
    color: #D12121;
    background-color: #fff;
}
.nav-tabs {
border-bottom: 1px solid #D12121;
}
.nav-tabs>li>a {
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 4px 4px 0 0;
}
a {
color: #d12121;
text-decoration: none;
}
a:hover {
color: #d12121;

}
.link {
color: #555;
text-decoration: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
color: #D12121;
background-color: #fff;
border: 1px solid #ddd;
border-bottom-color: transparent;
cursor: default;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
color: #D12121;
}

.jumbotron {
    background: url(images/bg-image.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    /*height: 215px;*/
    margin-bottom: 0;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 0px;
}

.jumbotron-main {
    background: url(images/bg-image.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    height: 30px;
    margin-bottom: 0;
}
.jumbotron p {
margin-bottom: 15px;
font-size: 18px;
font-weight: 200;
}

#breadcrumb {
    background: #d4d4d4;
    height: 20px;
    padding-top: 4px;
    color: #82817f;
	font-size: 10px;
}

#breadcrumb a {
    color: #82817f;
}

.jumbotron .list-group-item {
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.7);
}

.jumbotron a.list-group-item {
    color: #D12121;
    font-weight: bold;
}

.jumbotron a.show-all {
    background: #eee;
}

.jumbotron span.list-group-item {
    color: #000;
    background: #eee;
    /*text-transform: uppercase;*/
}

.jumbotron .btn {
    text-transform: uppercase;
}
.list-group{
margin-bottom:0px;
padding-right:0px;
}
.list-group-item:first-child {
border-top-right-radius: 0px;
 border-top-left-radius: 0px;
}

.list-group-item:last-child {
margin-bottom: 0;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

.jumbo {
margin-bottom:20px;
}
.jumbotron .row {
margin-left:0px;
margin-right:0px;
}
.btn-primary,
.btn-primary.active,
.open .dropdown-toggle.btn-primary
{
    color: #fff;
    background-color: #D12121;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    color: #D12121;
    background-color: #fff;
	border-color:#d12121;
}


#body {

   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #1942C4;
}

#footer {
    font-size: 88%;
    background: #3F4D9D;
    color: #feffff;
}
#footer a {
    color: #feffff;
}
#footer div[class^=col]{
    padding-top: 5px;
}

.icon-key {
    background: url(images/icons-key.png) no-repeat center center;
    display: inline-block;
    width: 16px;
    height: 16px;
	font-size: 10px;
}
.icon-tool {
    background: url(images/icons-tool.png) no-repeat center center;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.icon {
    font-size:150%;
}

/*.icon-msfmapcentre {
    background: url(images/LOGO_VERIFIED_MSF.png) no-repeat center center;
    display: inline-block;
	width:80px;
    height: 80px;
}*/
.icon-help {
background: url(images/icon-help.png) no-repeat center center;
    display: inline-block;
	width:10px;
    height: 15px;

}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]
{
    margin-bottom: 0;
}

.bootstrap-select .btn {
    padding: 0px 12px;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 110px;
box-shadow: inset 0 10px 15px rgba(250, 250, 250, 1);
opacity: 1;
text-align: left;
}

.page-header {
    text-transform: uppercase;
}
.home {

	margin-bottom: 5px;

}
.map-thumbnail {
    /*position: relative;*/
	color:#fff;
    text-align: center;
    /*width: auto;*/
    height: 140px;
    overflow: hidden;
}
.map-thumbnail.home {
    height: 130px;
}
.map-title-home {
    height: 25px;
	}

.map-thumbnail .map-title {
    height: 36px;
}


._map-thumbnail img {
    /*max-width: 200px;
    max-height: 250px;
    width: auto;
    height: auto;*/
}
.map-thumbnail .map-info {
    position: absolute;
    /*width: 200px;*/
    background-color: rgba(0,0,7,0.7);
    padding: 5px;
    text-align: left;
    left: 15px;
    right: 15px;
}

.map-thumbnail img {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .25);
}

.map-thumbnail .show-link,
.map-thumbnail .select-link {
    display: none;
}

.map-thumbnail .map-more-info {
    display: none;
}
.map-thumbnail .map-more-info-home {
    display: none;
}

.map-thumbnail:hover .map-info {
    height: 145px;
}
.map-thumbnail.home:hover .map-info {
    height: 130px;
}

.map-thumbnail:hover .map-download {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

.map-thumbnail:hover .map-more-info {
    padding-top: 5px;
    display: block;
}

.map-thumbnail:hover .map-more-info-home {
    padding-top: 5px;
    display: block;


}
.map-thumbnail:hover .show-link,
.map-thumbnail:hover .select-link,
.map-thumbnail .show-link.force,
.map-thumbnail .select-link.force {
    position: absolute;
    /*bottom: 0;*/
    display: block;
    bottom: 3px;

    /*border-top: 1px solid #aaa;*/

    /*left: 20px;
    right: 20px;
    padding-top: 10px;
    padding-left: 5px;
	padding-right: 5px;*/

}

.map-thumbnail:hover .select-link {
    left: 50%;
}

.map-thumbnail .show-link,
.map-thumbnail .select-link {
    width: 45%;
}

.map-thumbnail .select-link.force{
    left: 50%;
}

#content h4 {
    margin-top: 10px;
	font-size: 14px;
	color: #333;
}

#map-list {
    padding-top: 25px;
}

#map-list .row {
    margin-bottom: 15px;
}


#map-list h4 {
    margin-top: 20px;
	font-size: 14px;
}
.filtre{
padding: 0 0 0 0;
}
.filter-box {
background: #E6E6E6;

    box-shadow: inset 0 10px 15px rgba(250, 250, 250, 1);
/*padding: 15px 15px;*/
}
#facets .form-control {
    height: 28px;
    font-size: 12px;
    border-radius: 0;
}
.facet h3 {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #eee;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 13px;
    font-size: 12px;
  /*  font-weight: bold;*/
  box-shadow: inset 0 10px 15px rgba(250, 250, 250, 1);
}
.facet .caret {
    border-width: 5px 5px 0;
    border-bottom-width: 0;
}

.facet h3 a, h3 a:hover, h3 a:focus {
  /*  display: block;*/
	text-decoration: none;
	 color:#666666;
}


.facet h3 a.collapsed {
    color: #666666;


}

.facet a.collapsed .caret {
      transform: rotate(90deg);
}
.values_container {
    background: #FDFDFC;
	border-right:  1px solid #d5d5d5;
	border-left:  1px solid #d5d5d5;

}

#facets .facet-count {
    padding-left: 3px;
    text-align: right;
}

.facet ul.show_values li a {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 180px;
    text-overflow: ellipsis;
	color: #d12121;
}
.facet ul.show_values li a:hover {
    background-color: #D12121;
    color: #fff;
}

ul.show_values {
    margin-bottom: 0px;
}

#facets ul li, #facets li {
    color: #d12121;
    list-style-type: none;
    margin-left: 6px;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 0px;
	height: 18px;
}



.caret {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.facet form {
    margin-top: 0;
    margin-bottom: 0;
}

#facets ul {
    padding-left: 0px;
    margin-bottom: -1px;
}
#facets > ul {
   /* padding-left: 10px;*/
}
#facets > ul > li {
   /* background: #e7e7e7;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
    padding-left: 5px;
	color:#333;*/
}
#facets > ul > ul {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 7px;
	color:#d12121;
}
#facets > ul > ul > li:not(:last-child) {
    border-bottom: 1px solid #d5d5d5;
}

#facets ul li{
    color: #666;
    list-style-type: none;
	border-bottom: 1px solid #d5d5d5;
}

#facets  a {
   /* color: #333;*/
    display: block;
	text-decoration: none;
	border-radius:2px;

}


#facets .values_container a {
    display: inline-block;
}
#facets .values_container a:hover {
    background-color: #D12121;
    color: #fff;
}


#facets .facet-count {
    float: right;
	color: #666;
}

#facets ul.show_values.geoDescCodes {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;

}

#map-list .navigation a {
    color: #D12121;
}

#map-list .navigation .pagination>.active>a,
#map-list .navigation .pagination>.active>span,
#map-list .navigation .pagination>.active>a:hover,
#map-list .navigation .pagination>.active>span:hover,
#map-list .navigation .pagination>.active>a:focus,
#map-list .navigation .pagination>.active>span:focus {
    background-color: #D12121;
    color: #fff;
    border-color: transparent;
}
h3, .h3 {
font-size: 20px;
color:#d12121;
}
h4, .h4 {
font-size: 14px;
}
h5, .h5 {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
line-height: 1.8;
color: #333;
background-color: #fff;
}
/* URXX: If we need to customize button styles then override using a custom class (e.g. my-special-btn) */
/*.btn {
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 12px;
line-height: 1.42857143;
border-radius: 2px;
text-transform: initial;
}*/
/*.btn-danger {
font-size: 20px;
background-color:#D12121;
border-radius:5px;
padding:5px;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: rgba(0,0,7,0.7);
	border-color:#d12121;
}*/
#emergencies .btn,
#map_lists .btn {
font-size: 20px;
}

#emergencies a {
position: fixed;
-webkit-transform-origin: 0% 100%;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-moz-transform-origin: 17px 50%;

left: 0px;
top: 30%;
}

#map_lists button {
    position: fixed;
    position: absolute;
    transform-origin: 0% 0%;
    transform: rotate(-90deg);
    left: -40px;
    top: 149px;
}

/*#map_lists button.btn-danger {
    background-color: #777777;
}

#map_lists button.btn-danger:hover {
border-color: #dddddd;
}*/

 /*   display: block;
    font-size: 16px;
    padding: 0px;
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: 17px 50% 0px;
    top: 51%;
    z-index: 10;
}
display: block;
font-size: 16px;
padding: 0;
position: fixed;
-webkit-transform: rotate(-90deg);
-webkit-transform-origin: 17px 50%;

rotation: -90deg;
rotation-point: 17px 50%;
top: 51%;
z-index: 10*/





.btn-back {
padding: 0px 6px;
background-color:#c0c0c0;
border-radius:5px;
}
.btn-back:hover,
.btn-back:focus,
.btn-back:active {
	color:#fff;
    background-color: #D5d5d5;
	border-color:#D5d5d5;
}
.btn-block {
width: 100%;
text-align:left;
}
.glyphicon-play-search {
float: right;
}
.spin{
font-size:10px;
 -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
/*.caret {
float: right;
margin-top: 5px;
}*/
#map-list .navigation {
    text-align: center;
}

#minimap {
    display: block;
    width: auto;
    height: 175px;
    background: #777;
}



table.map tr:nth-child(3) td:nth-child(2) {
    width: 300px;
}

.nav>li>a {
    padding: 10px 10px;
}


.mygrid-wrapper-div {

   border: solid #eee 1px;
   overflow-y: scroll;
   height: 320px;

   padding-left: 20px;
   padding-right: 20px;
}

button {
color: initial;
}

.btn-filter {
display: inline-block;
margin-bottom: 0;
font-weight: 400;
text-align: left;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 12px;
line-height: 1.42857143;
width:100%;
border-radius:2px;
/*text-transform: uppercase;*/
background-color: rgb(223, 223, 223);
}

.btn-filter.active{
box-shadow: inset 0 10px 15px rgba(250, 250, 250, 1);
}

.btn-filter-filtre {
    padding: 10px 8px;
    font-size: 12px;
    line-height: 1.42857143;
    width: 100%;
    border-radius: 2px;
    background-color: rgb(223, 223, 223);
	line-height: 1.42857143;
}








.page-header-view {
margin: 0px 0 20px;
border-bottom: 1px solid #eee;
text-transform: uppercase;
font-style: bold;
padding-right:0px;
}





.date-view {
padding-bottom: 6px;
padding-left:0px;
margin: 11px 0 24px;
border-bottom: 1px solid #eee;
font-size: 10;
color:#eee;
text-align: right;
}

.view {
padding-bottom: 5px;
padding-left:0px;
margin: 11px 0 24px;
border-bottom: 1px solid #eee;
font-size: 10;
color:#eee;
text-align: right;
}

a.filter_type.active {
    color: rgba(209,33,33,0.5);
	text-decoration: none;
	 font-size: 20px;
}

a.filter_type {
   font-size: 20px;
   color:#eee;
}
.back-view{
margin: 10px 0 24px;
}

.box{
border-left: 1px solid #d5d5d5;
border-right: 1px solid #d5d5d5;
border-bottom: 1px solid #d5d5d5;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
margin-bottom: 7px;
padding:10px;
}


.subbox{
margin-bottom: 0px;
}
.thumbnail-view{
border:none;
}

.btn-view{
text-align:left;
}
.glyphicon-download, .glyphicon-share{
float:right;
}

table{
width:100%
}
.td-view{
color:#d12121;
text-align: left;
}
.grey{
background-color:#f0f0f0;
}
.row-table {
line-height:30px;
text-align: left;
margin:0px;
}
.red{
color:#d12121;
font-size:150%;
vertical-align:center;
margin-top: 5px;
}

/*.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
cursor: not-allowed;
pointer-events: none;
opacity:1;
}*/

.main-content {
    text-align: center;
}
.main-content img {
    max-width: 800px;
    max-height: 600px;
    width: auto;
    height: auto;
}

.filter-title {
    position: relative;
}

.remove-filters {
    position: absolute;
    top: -2px;
    right: 0px;
}
/*.about-index {
position: aboslute;
padding-top:55px;
}*/
.login{
background-color: #d5d5d5;
border-radius:2px;
}

.wanted{
padding:0px;
}
.wanted-box{
border-color: #d12121;
}
.wanted-box >ul> li {
color:#d12121;
}
.table-emergencies{
padding-left:0px;
padding-right:0px;
}

#codmap {
    display: block;
    width: 500px;
    height: 400px;
    background: #777;
}
#codsearch {
    display: block;
    width: 500px;
    height: 350px;
	border-style: solid;
    border-width: 1px;
	border-color : black
}

#coddata {
display: block;
top:0px;
position: relative;
width : 600px;
height : 100%;
left: 540px;

border-style: solid;
    border-width: 1px;
	border-color : black;
	}


.header-date-view {
padding-bottom: 6px;
padding-left:0px;
margin: 0 0 10px;
border-bottom: 1px solid #eee;
font-size: 10;
color:#333;
text-align: left;
}
.header-date-view-grey {
padding-bottom: 6px;
padding-left:0px;
margin: 0 0 10px;
border-bottom: 1px solid #eee;
font-size: 10;
color:#eee;
text-align: left;
}
.portfolio {
margin-top: 20px;
}

.page-header-portfolio {
  padding-bottom: 9px;
  margin: 0px 0 0px;
  border-bottom: 0px solid #eee;
  font-size:30px;
}
.info {
  padding-bottom: 0px;
  padding-top: 20px;
  padding-left: 0px;
  margin: 15px 0 0px;
  padding-right: 0px;
  border-top: 1px solid #eee;
  font-size: 14px;
  color:#333;
  text-align: left;
}
.btn-portfolio {
text-align: center;
}
.info p {
padding-top: 10px;
}
.info h2{
  text-align: left;
  font-size:22px;
  text-transform: uppercase;
  color: #D12121;
  margin: 0 0 0 0;
  padding-bottom: 9px;
  }
  .info h3{
  text-align: left;
  font-size:22px;
  text-transform: uppercase;
  color: #D12121;
  margin: 0 0 0 0;
  padding-bottom: 9px;
  }

 .infobox{
 border-right: 1px solid #eee;
 padding: 0px 5px 0px 0px;
 }
 .infobox li{
 /*color:#d12121;*/
 }
  .infoboxright{
 border-right: none;
 padding: 0px 0px 0px 5px;
 }

 .info-bottom {
 border-top:0px;
 }
 .col-md-6 h1{
 color:#000;
 font-size:15px;
 font-weight:400;
 }
 .col-md-6 b{
 color:#d12121;
 }
 .col-md-6 p{
 padding-bottom: 5px;
 }

 .white {
 color:#fff;
 width: initial;
 font-weight: 700;
 box-shadow: inset 0 10px 15px rgba(219, 219, 219, 1);
 background-color: #B2B2B2;
 }
.subnavigation {
padding: 6px 12px 6px 12px;
}
.subnavigation-end {
padding: 6px 12px 6px 12px;
margin-bottom: 20px;
}

.subnavigation:active,
.subnavigation:hover,
.subnavigation:focus,
.subnavigation-end:active,
.subnavigation-end:hover,
.subnavigation-end:focus {
background-color:#d12121;
color:#fff;
}

.boxactive {
background-color:#d12121;
color:#fff;
}
.modelogo {
padding-left: 2px;
padding-right: 5px;
}

.mode{
padding-left: 0px;
}
.infobox   small {
color:#000;
font-weight: 600;
}
.infoboxright small {
color:#000;
font-weight: 600;
}



.map-thumbnail-cod {
height: 260px;
width: auto;
}
.map-thumbnail-cod:hover .map-info {
    height: 260px;
}


.canceled {
    text-decoration: line-through;
}

.btn-portfolio .btn-filter a{
background-color: white;
}

.carousel-inner > .item  img {
    margin: 0 auto;
}

#map_lists {
    transition: 0.5s;
    position: fixed;
    background: #f00;
    right: 0;
    width: 200px;
    height: 310px;
    top: 35%;
    z-index: 100;
}


#map_lists.fold {
    transition: 0.5s;
    right: -200px;
}

.pad {
padding: 0 0 0 0 ;
}

.map-thumbnail-list {
    min-height: 100px;
}
 .map-thumbnail-list .map-info {
    /* padding-left: 15px; */
    overflow: hidden;
    border-bottom: 1px dotted #c6c9cc;
	    position: inherit;
    /* width: 200px; */
    /*background-color: rgba(0,0,7,0.7);*/
    padding: 5px;
    text-align: left;
    left: 15px;
    right: 15px;
}

 .map-thumbnail-list .map-info h5 {
        text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		color: rgba(209,33,33,0.8);
		margin-right: 20%;

}
.map-thumbnail-list .map-info p{
       color: rgba(51,51,51,0.8);
	   margin-right: 20%;


}
.map-thumbnail-list .map-info small {
       color: #999;
	   float:right;
}
.map-thumbnail-list .map-info small a{
       text-decoration: underline;

}
.map-thumbnail-list .map-info  .caret {
color:#666;
transform: rotate(270deg);
}
.map-thumbnail-list img {
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, .25); */
    float: left;
    width: 100px;
    padding: 10px 10px 15px;
}








.map-thumbnail-list .show-link {
    display: none;
}
.map-thumbnail-list:hover .show-link {
    position: absolute;
    bottom: 0;
    display: block;
    bottom: 3px;

    /*border-top: 1px solid #aaa;*/

    left: 0;
    right: 0;
    padding-top: 10px;
    padding-left: 5px;
	/*padding-right: 5px;*/
	padding-left: 50%;

}
.map-thumbnail-list:hover .show-link .btn-block {
width: 30%;
}
.map-thumbnail-list:hover a{
text-decoration:none;
}
.menu-xs {
background-color: rgba(255, 255, 255, 0.6);
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
#navbar .navbar-nav {
    margin: 7.5px -15px;
	background-color: #d12121;
}
.navbar-collapse.in {
background-color: #d12121;
}
#navbar .nav-pills>ul>li {
display:block;
}

.carts_list tr.selected td {
    background: #D12121;
}

.selected_map.selected {
    border: 1px solid #D12121;
}
.selected_map {
    border: 1px solid #ffffff;
}

/*#map_list_dialog button {
    width: 100%;
}*/

.search_list {
    display: inline-block;
    width: 80%;
}

.carts_list td {
    background: #ccc;
    padding: 10px;
}
.carts_list td:hover {
    background: #D12121;
}
.carts_list a {
    color: #000;
}

.carts_list_view td {
    background: #ccc;
    padding: 10px;
}
.carts_list_view td:hover {
    background: #D12121;
}
.carts_list_view a {
    color: #000;
}

.selected_maps {
    max-height: 390px;
    overflow-y: scroll;
}

#map_selected_list_dialog table,
#cart_list_dialog table {
    max-height: 390px;
    overflow-y: scroll;
}
.geoapp {
margin-top: 10px;
}

.gisunitlogo {
 heigth: 500px !important;
 width: 500px !important;
}
