<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>


        <title>  GHANA- Map Centre </title>


        <link rel="icon" type="image/gif" href="favicon.ico"/>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/sticky-footer-navbar.css" rel="stylesheet"/>
        <link href="css/bootstrap-select.css" rel="stylesheet"/>
        <link href="css/msf.css" rel="stylesheet"/>
        <link href="css/typeahead.css" rel="stylesheet"/>
        <link href="css/layout.css" rel="stylesheet"/>

	<link href="css/bootstrap.css" rel="stylesheet"/>
	<link href="css/ol4.css" rel="stylesheet"/>
	<link href="css/layerSwitcher.css" rel="stylesheet"/>
	<link href="css/vendor/dc.min.css" rel="stylesheet"/>
	<link href="css/ops.css" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body>
  <div id="banner" class="hidden-xs">
            <div class="container">
                <div class="col-md-8">
                    <div class="logo">
                    <a href="index.html"><img src="maha_logo_small.png"></a>
                    </div>
                    <div class="title">GHANA- Map Centre</div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>

        <div id="header">
            <div class="container">

			            <div class="col-md-9 hidden-xs">
                            <ul class="nav nav-pills">
                                <li><a href="index.html">HOME</a></li>
                                <li class="active"><a href="ops.html">INFRASTRUCTURE</a></li>
                                <li><a href="coldchain.html">COLD CHAIN</a></li>
                                <li><a href="hr.html">HUMAN RES.</a></li>
                                <li><a href="fin.html">FINANCE</a></li>
                                <li><a href="supply.html">SUPPLY</a></li>
                                <li><a href="monitoring.html">MONITORING</a></li>
                                <li class="not-active"><a href="updates.html">UPDATES</a></li>
                        </ul>
                        </div>


            </div>
        </div>



                    <!-- joaquim 03/08/2017 - Remove this part of the MSF layout (not needed for Geops)
                    <div class="pull-right utilities">

						                                                <a href="/geops/app_dev.php/en/login" class="link"><span class="icon icon-key"></span> Login</a>
                                                |
						<a href="/geops/app_dev.php/en/contact" class="link">Contact</a>
						  |
                        <select class="selectpicker" id="language-switcher">
                            <option data-content="<img src='/geops/bundles/cartongmsf/images/United Kingdom(Great Britain).png'/> English" value="/geops/app_dev.php/en/geops/ops" selected="selected">English</option>
                            <option data-content="<img src='/geops/bundles/cartongmsf/images/France.png'/> French" value="/geops/app_dev.php/fr/geops/ops" >French</option>
                        </select>

                    </div>
                    -->
                </div>
            </div>
        </div>


				<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->


						<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->





                        <div class="col-md-3 ">
                            <!-- joaquim 03/08/2017 - Remove this part of the MSF layout (not needed for Geops)
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control typeahead" placeholder="Search map...">
                                </div>
                            </form>
                            -->
                        <!--/div-->
                        </div><!-- /.navbar-collapse -->

                <!--/nav-->
            </div>
        </div>



    <div id="emergencies">
        <div id="content">
                    </div>
    </div>


	<meta name="viewport" content="width=device-width,user-scalable=no">
	<div id="main">
		<div class="row">
			<div class="col-md-1">
      </div>
			<div class="col-md-2">
				<form>
					<div id="filter-block">
						<div class="form-group">
                            <h2 style="font-size:20px">Region & District</h2>
                            <select id="selectRegionDistrict" class="form-control">
    
        <option value="all" selected="">Select region & district</option>
    
        <option value="Ashanti Region">Ashanti Region</option>

        <option value="Brong-Ahafo Region">Brong-Ahafo Region</option>
    
        <option value="Central Region">Central Region</option>
    
        <option value="Eastern Region">Eastern Region</option>
    
        <option value="Greater Accra Region">Greater Accra Region</option>
    
        <option value="Northern Region">Northern Region</option>
    
        <option value="Upper East Region">Upper East Region</option>
    
        <option value="Upper West Region">Upper West Region</option>
    
        <option value="Volta Region">Volta Region</option>
    
    </select>
                        </div>
						<h2>Filters</h2>
						<h3>Health Structure</h3>
						<div id="filter-type">

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="Hospital" checked="">
    			Hospital
			</label>
		</div>

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="Clinic" checked="">
    			Clinic
			</label>
		</div>

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="Health centre" checked="">
    			Health centre
			</label>
		</div>

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="Health Post" checked="">
    			Health post
			</label>
		</div>

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="Pharmacy" checked="">
    		Pharmacy
			</label>
		</div>
	</div>
						<h3>Supply  structure</h3>
						<div id="filter-Supply structure">

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="2" checked="">
    			National Vaccines Warehouse
			</label>
		</div>

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="4" checked="">
    			Sub national Vaccines Warehouse
			</label>
		</div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="4" checked="">
                District Vaccines Warehouse
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="4" checked="">
                Local Vaccines Warehouse
            </label>
        </div>

	</div>
						<h3>Cold Chain structure</h3>
						<div id="filter-Cold chain structure">

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="2" checked="">
    			Sub national cold store
			</label>
		</div>

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="3" checked="">
    			District cold store
			</label>
		</div>

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="1" checked="">
    			Active cold store /Fixed vaccination site
			</label>
		</div>

		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="4" checked="">
    			Passive cold store /Mobile vaccination site
			</label>
		</div>

	</div>
					</div>
				</form>
			</div>
			<div class="col-md-8">
				<div id="map-container"><div class="ol-viewport" style="position: relative; overflow: hidden; width: 100%; height: 100%; touch-action: none;" data-view="20"><iframe width="1350" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-8.329526335000994%2C1.471237140437052%2C1.0527978837490084%2C13.153627112309863&amp;layer=mapnik" style="border: 1px solid black"></iframe></div></div>
				<div id="donut-container">
					<div class="dc-chart" id="donut"></div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="noscript" id="checkboxes-template">
	<%
		items.forEach(function(item) {
	%>
		<div class="checkbox">
  			<label>
    			<input type="checkbox" value="<%- item.value %>" checked >
    			<%- item.label %>
			</label>
		</div>
	<%
		});
	%>
	</script>
	<script type="noscript" id="select-template">
	<%
		if(selected === 'all') {
	%>
		<option value="all" selected><%- all %></option>
	<%
		} else {
	%>
		<option value="all"><%- all %></option>
	<%
		}

		if(options !== null) {
			options.forEach(function(option) {
				if(option === selected) {
	%>
		<option value="<%- option %>" selected><%- option %></option>
	<%
				} else {
	%>
		<option value="<%- option %>"><%- option %></option>
	<%
				}
			});
		}
	%>
	</script>


        <div id="footer">
            <div class="container">
                <div class="col-md-8">
                    Maha Geops
                </div>
                <div class="col-md-4">
                    <!-- joaquim 03/08/2017 - Remove this part of the MSF layout (not needed for Geops)
                    <p class="text-right">
                        <a href="/geops/app_dev.php/en/">Home</a> | <a href="/geops/app_dev.php/en/about">About</a> | <a href="/geops/app_dev.php/en/contact" class="link">Contact</a> | <a href="/geops/app_dev.php/en/help">Help</a> | <a href="https://docs.google.com/forms/d/1LPNNX23Qx8azY2L-9_LUQYzJnzVChomkHdvktuPgc5E/edit">Bug Report</a> | <a href="/geops/app_dev.php/en/disclaimer">Disclaimer</a> | <a href="/geops/app_dev.php/en/credit">Credits</a>
                    </p>
                    -->
                </div>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap-select.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/typeahead.bundle.min.js"></script>
                <script>
        var cartong_urls = {
            'cartong_msf_mapcentre_koboapi': '/geops/app_dev.php/en/kobo_api',
            'cartong_msf_mapcentre_resource': '/geops/app_dev.php/en/resource',
            'cartong_msf_cart_addtocart': '/geops/app_dev.php/en/cart/%25s',
            'cartong_msf_cart_newcart': '/geops/app_dev.php/en/cart',
            'cartong_msf_cart_list': '/geops/app_dev.php/en/carts',
            'cartong_msf_cart_viewcart': '/geops/app_dev.php/en/cart/0',
            'cartong_msf_cart_removecart': '/geops/app_dev.php/en/cart/0',
            'cartong_msf_cart_removefromcart': '/geops/app_dev.php/en/cart/map/%25s',
            'cartong_msf_mapcentre_search': '/geops/app_dev.php/en/search'
        };
        jQuery(document).ready(function() {
            jQuery('.selectpicker').selectpicker();
            jQuery('#language-switcher').change(function() {
                document.location = jQuery(this).val();
            });

            var suggestedItems = new Bloodhound({
                remote: {
                    url: '/geops/app_dev.php/en/suggest?q=%QUERY',
                    filter: function(data) {
                        return _.map(data[1], function(d) { return { value: d }; });
                    },
                },
                datumTokenizer: function(d) {
                    return Bloodhound.tokenizers.whitespace(d.value);
                },
                queryTokenizer: Bloodhound.tokenizers.whitespace
            });

            suggestedItems.initialize();

            jQuery('#header .typeahead').typeahead(null, {
                name: 'search',
                displayKey: 'value',
                source: suggestedItems.ttAdapter()
            });
            jQuery('#header .typeahead').on('change typeahead:selected typeahead:autocompleted', function() {
                var url = '/geops/app_dev.php/en/search?any_OR_geokeyword=' + jQuery(this).val() + '*';
                document.location = url;
            });
        });

$(document).on('pageshow', '#index', function(){
    $("#custom-btn").buttonMarkup({corners: false });
    $('[data-role="content"]').height(getRealContentHeight());

    $('.ui-btn-inner').css({
        position:'absolute',
        top: (getRealContentHeight() - $('.ui-btn-inne').outerHeight())/2
    });
});

function getRealContentHeight() {
    var header = $.mobile.activePage.find("div[data-role='header']:visible");
    var footer = $.mobile.activePage.find("div[data-role='footer']:visible");
    var content = $.mobile.activePage.find("div[data-role='content']:visible:visible");
    var viewport_height = $(window).height();

    var content_height = viewport_height - header.outerHeight() - footer.outerHeight();
    if((content.outerHeight() - header.outerHeight() - footer.outerHeight()) <= viewport_height) {
        content_height -= (content.outerHeight() - content.height());
    }
    return content_height - 1;
}
	  </script>

	<script src="js/underscore-min.js"></script>
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<script src="js/vendor/ol4.js"></script>
	<script src="js/vendor/ol3-ext.style.chartstyle.js"></script>
	<script src="js/vendor/ol3-ext.utils.ol.ordering.js"></script>
	<script src="js/layerSwitcher.js"></script>
	<script src="js/flyTo.js"></script>
	<script src="/geops/bundles/cartongmsf/geops/js/vendor/rx.lite.min.js"></script>
	<script src="js/d3.js"></script>
	<script src="js/crossfilter.js"></script>
	<script src="/geops/bundles/cartongmsf/geops/js/vendor/dc.min.js"></script>
	<script src="data/data.js"></script>
	<script src="js/styles.js"></script>
	<script src="js/variables.js"></script>
	<script src="js/utils.js"></script>
	<script src="js/geoUtils.js"></script>
	<script src="js/reducers.js"></script>
	<script src="js/checkboxes.js"></script>
	<script src="/geops/bundles/cartongmsf/geops/js/donut.js"></script>
	<script src="js/ops.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52019552-1', 'msf.org');
  ga('send', 'pageview');

</script>









   
</body>
</html>
